<div class="content">
    <div class="thumb-box1">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-lg-8">
                        <p class="title wow fadeInLeft">Insuring the Best Quality Care</p>
                        <div class="row">
                            <div class="col-lg-9 wow fadeInLeft">
                                <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit
                                    mauris. Phasellus porta. Fusce suscipit varius mi.</p>
                            </div>
                            <div class="col-lg-10 wow fadeInLeft">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                    Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectet.</p>
                                <a href="index-4.html" class="btn-default btn1">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="thumb-box2">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 wow fadeInUp">
                    <p class="title">Our Services</p>
                    <ul class="list1">
                        <li><a href="#">Fermentum nisl</a></li>
                        <li><a href="#">Mauris accumsan</a></li>
                        <li><a href="#">Nulla vel diam</a></li>
                        <li><a href="#">Sed in lacus ut</a></li>
                    </ul>
                    <p class="title">Home Care Services</p>
                    <ul class="list1">
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="box maxheight">
                        <p class="description">Educating Nurses and Nursing Agency Staff</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.</p>
                        <a href="#" class="btn-default btn2">Join us</a>
                        <a href="#" class="btn-default btn2">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box2 maxheight">
                        <p class="description">Enjoy our Quickpay option</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn-default btn3">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box3">
        <div class="container">
            <h2 class="indent">From the Blog</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                    <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
                    <p class="meta">Jessica Priston <a href="#">Employers</a> <time datetime="2014-01-01">16 august, 2014</time></p>
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <figure><img src="/assets/img/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.
                                    Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliq.</p>
                                <a href="#" class="btn-default btn2">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="title">Donec in velit vel ipsum auctor pulvinar</p>
                    <p class="meta">Camala Haddon <a href="#">Midwives</a> <time datetime="2014-01-01">16 august, 2014</time></p>
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <figure><img src="/assets/img/page1_pic2.jpg" alt=""></figure>
                            <div class="caption">
                                <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.
                                    Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliq.</p>
                                <a href="#" class="btn-default btn2">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                    <p class="title">Praesent vestibulum mo lestie lacus enean nonummy</p>
                    <p class="meta">Julie Herzigova <a href="#">Training</a> <time datetime="2014-01-01">16 august, 2014</time></p>
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <figure><img src="/assets/img/page1_pic3.jpg" alt=""></figure>
                            <div class="caption">
                                <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.
                                    Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliq.</p>
                                <a href="#" class="btn-default btn2">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>