<header class="indent clearfix">
    <div class="container">
        <h1 class="navbar-brand navbar-brand_ wow fadeIn" data-wow-delay="0.2s">
            <a href="index.html" class='flex items-center'>
                <img src="/assets/img/Logo-100.png" alt="logo">
            </a>
        </h1>
        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
            <ul class="nav sf-menu clearfix pt-4">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="sub-menu"><a href="index.html">About Us</a><span class="fa fa-angle-down"></span>
                    <ul class="submenu">
                        <li><a href="#">Aliquam congue</a></li>
                        <li><a href="#">Fermentum nisl</a><span class="fa fa-angle-right"></span>
                            <ul class="submenu">
                                <li><a href="#">In pede mi</a></li>
                                <li><a href="#">Aliquet sit amet</a></li>
                                <li><a href="#">Auctor ut, ligula</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Mauris accumsan</a></li>
                    </ul>
                </li>
                <li><a href="index.html">Nursing Jobs</a></li>
                <li><a href="index.html">Testimonials</a></li>
                <li><a href="index.html">Contacts</a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="box">
                    <p class="title">Individualized quality care that meets the total needs of the patients</p>
                    <p class="description">Every person is entitled to affordable and quality health care</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="list_box">
                    <figure>
                        <img src="/assets/img/page1_icon1.png" alt="">
                    </figure>
                    <div class="extra-wrap">
                        <p class="title">General Nurses</p>
                        <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellen tesque sed dolor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="list_box">
                    <figure>
                        <img src="/assets/img/page1_icon2.png" alt="">
                    </figure>
                    <div class="extra-wrap">
                        <p class="title">ITU Nurses</p>
                        <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="list_box">
                    <figure>
                        <img src="/assets/img/page1_icon3.png" alt="">
                    </figure>
                    <div class="extra-wrap">
                        <p class="title">Neonatal Nurses</p>
                        <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellen tesque sed dolor. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="list_box">
                    <figure>
                        <img src="/assets/img/page1_icon4.png" alt="">
                    </figure>
                    <div class="extra-wrap">
                        <p class="title">Cardiac Nurses</p>
                        <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellen tesque sed dolor. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>